﻿@page "/counter"
@using k8s;

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Isvalid : @Isvalid</p>
<p>Error : @ErrorMsg</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> <br>
<textarea class="lined" style=" width: 80%; height: 350px"  type="text" @bind="@inputValue" />




@code {
    private int currentCount = 0;
    private bool Isvalid = false;
    private string ErrorMsg = "";
    private string inputValue = "";

    private void IncrementCount()
    {
        currentCount--;
        Validate();
    }

    private void Validate()
    {
        try
        {
            var y = Yaml.LoadAllFromString(inputValue);
            Isvalid = true;
            ErrorMsg = string.Empty;

        }
        catch (Exception e)
        {
            Isvalid = false;
            ErrorMsg = e.Message;

        }

    }
}
